<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FilmHorizontSelectView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E232FDD1D9B9D7600FD49DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E232FF61D9B9D7600FD49DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2330011D9B9D7600FD49DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
